paths:
  data: data/meerkat_patch.npz
  model: data/siren_meerkat.pt
  fits: MeerKAT_Galactic_Centre_1284MHz-StokesI.fits
  checkpoints_dir: data/checkpoints
  images_dir: data
  tune_dir: data

common:
  batch_size: 512
  lr: 1.0e-4
  amp: none            # none | fp16 | bf16
  data_dtype: float32  # float32 | float16 | bfloat16
  tf32: true
  compile: false

model:
  in_features: 2
  out_features: 1
  hidden_features: 256
  hidden_layers: 3
  outermost_linear: true
  first_omega: 30
  hidden_omega: 30
  lambda_wavelet: 0.05

prepare:
  patch_height: 512
  patch_width: 512
  x0: 4500
  y0: 4500
  dtype: float32
  debug_plots: true

train:
  checkpoint_every: 50
  save_image_every: 10
  device: auto
  steps: 500
  batch_size: 512
  wavelet: db1
  level: 2
  mode: constant

inference:
  title_prefix: ""
  save_plot: images_dir
  no_plot: false

tune:
  seed: 666
  n_trials: 20
  steps: 50

  # Values under search are Optuna search specs
  search:
    # hidden_features:
    #   type: int
    #   low: 128
    #   high: 512
    #   step: 64
    # hidden_layers:
    #   type: int
    #   low: 1
    #   high: 4
    lambda_wavelet:
      type: float
      low: 0.0
      high: 5.00
      step: 0.001
    # first_omega:
    #   type: float
    #   low: 1
    #   high: 300
    #   step: 10
    # hidden_omega:
    #   type: float
    #   low: 1
    #   high: 300
    #   step: 10
    # lr:
    #   type: float
    #   low: 1.0e-5
    #   high: 5.0e-4
    #   log: true
    # batch_size:
    #   type: categorical
    #   choices: [512, 1024, 2048]
    # steps:
    #   type: categorical
    #   choices: [200]

  fixed:
    in_features: 2
    out_features: 1
    outermost_linear: true
